.heroWrapper {
  display: flex;
  align-items: center;
  gap: 100px;
  margin: 100px 0;
}

.box {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.title {
  font-size: 72px;
  background: linear-gradient(to bottom, #194c33, #bbb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.desc {
  font-size: 24px;
  font-weight: 300;
}

.heroImg {
  height: 500px;
  width: 100%;
  object-fit: cover;
}

.heroBtn {
  background-color: #53c28b;
  color: #fff;
  padding: 20px;
  width: max-content;
  font-size: 16px;
  transition: all 0.1s ease-in-out;
}

.heroBtn:hover {
  background-color: #3fb077;
}
